.body,
html {
  height: 100%;
  margin: 0;
  overflow: hidden;
  display: flex;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #eeeeee;
  display: flex;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 180px;
  height: auto;
  background-color: #fafafa;
  overflow-y: hidden;
  box-sizing: border-box;
}

.main-content {
  flex-grow: 1; /* Take the remaining space */
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap; /* Allows the cards to wrap to the next line */
  gap: 20px; /* Adds space between the cards */
}

.card {
  width: calc(33.33% - 10px); /* Adjust size as needed */
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: transform 0.3s;
  padding: 20px;
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}

.rectangle-card {
  width: calc(66.66% - 10px); /* Adjust width for rectangle */
}

.card:hover {
  transform: translateY(-10px); /* Slight lift on hover */
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative; /* Ensure relative positioning for child elements */
  width: 100%; /* Ensure content fills the card */
  height: 100%; /* Ensure content fills the card */
  text-align: left; /* Align text to the left */
  padding: 20px; /* Add padding to create space */
  box-sizing: border-box; /* Ensure padding is included in width */
}
.card-content h2 {
  margin-top: 0; /* Remove default margin */
  margin-bottom: 10px; /* Add space between title and description */
  font-size: 1.5rem; /* Adjust font size as needed */
  color: #333; /* Adjust text color */
}
.card-content p {
  margin-top: 0; /* Remove default margin */
  font-size: 1rem; /* Adjust font size as needed */
  color: #666; /* Adjust text color */
}
.canvas-container {
  width: 100%; /* Ensure canvas container fills the card */
  height: 240px;
}

canvas {
  max-width: 100%; /* Ensure the canvas scales within the card */
  height: 100%; /* Allow the canvas to adjust its height */
}

.nav_list {
  list-style: none;
  padding: 20px;
  margin: 0;
  padding-left: 10px;
}

.nav_list li:hover {
  background-color: #e0e0e0;
}

.nav_list a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
  transition: color 0.3s;
  padding: 10px;
  box-sizing: border-box;
}

.nav_list li {
  border: 1px solid #fafafa;
  border-radius: 32px;
  margin-bottom: 10px;
  align-items: center;
  overflow: hidden;
}

.material-symbols-outlined {
  margin-right: 10px;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.8;
  }
}

#sidebar.collapsed {
  width: 70px; /* Adjust width as needed for the collapsed state */
  animation: fadeOut 0.3s ease; /* Use the fadeOut animation for collapsing */
}

#sidebar.collapsed .nav_list li {
  text-align: center; /* Center text/icons for collapsed state */
  margin-bottom: 5px; /* Adjust margin as needed */
}

#sidebar.collapsed .nav_list a {
  justify-content: center; /* Center content in the anchor for collapsed state */
  overflow: hidden; /* Hide overflowing content */
}

#sidebar.collapsed .links_name {
  display: none; /* Hide the text */
}

#sidebar.collapsed .material-symbols-outlined {
  margin-right: 0; /* Remove margin for icons in collapsed state */
}

#sidebar.collapsed .nav_list a .material-symbols-outlined {
  margin-right: 0px; /* Adjust margin for icons in collapsed state */
}

#menuIcon {
  cursor: pointer;
  border: 1px solid #fafafa;
  border-radius: 32px;
  align-items: center;
  overflow: hidden;
  margin-left: 18px;
}

#menuIcon:hover {
  background-color: #e0e0e0;
}
.card:nth-child(2) .card-content {
  position: relative; /* Ensure relative positioning for child elements */
  width: 100%; /* Ensure content fills the card */
  height: 100%; /* Ensure content fills the card */
  text-align: left; /* Align text to the left */
  padding: 20px; /* Add padding to create space */
  box-sizing: border-box; /* Ensure padding is included in width */
}

.card:nth-child(2) .card-content h2 {
  margin-top: 0; /* Remove default margin */
  margin-bottom: 10px; /* Add space between title and description */
  font-size: 1.5rem; /* Adjust font size as needed */
  color: #333; /* Adjust text color */
}

.card:nth-child(2) .card-content p {
  margin-top: 0; /* Remove default margin */
  font-size: 1rem; /* Adjust font size as needed */
  color: #666; /* Adjust text color */
}
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropbtn {
  background-color: white;
  color: black;
  padding: 8px;
  font-size: 16px;
  border: 2px solid #3498db;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #2980b9;
}

.dropdown-arrow {
  margin-left: 8px;
  font-size: 16px;
}
